<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Apex charts" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->
  
    <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title ">Bar Chart</h4>
                <apx-chart class="apex-charts" dir="ltr" [series]="barChart.series" [chart]="barChart.chart"
                  [plotOptions]="barChart.plotOptions" [dataLabels]="barChart.dataLabels" [xaxis]="barChart.xaxis"
                  [colors]="barChart.colors" [grid]="barChart.grid"></apx-chart>
              </div>
            </div>
            <!--end card-->
          </div>
        </div>
    </div>


  </div> <!-- containe r-fluid -->